## 재귀 용법 (Recursive Call, 재귀 함수)

> 고급 정렬 알고리즘에서 재귀 용법을 사용하므로, 고급 정렬 알고리즘을 익히기 전에 재귀 용법을 먼저 익히기로 합니다.

### 1. 재귀 용법 (Recursive Call, 재귀 호출)
- 함수 안에서 동일한 함수를 호출하는 형태
- 여러 알고리즘 작성시 사용되므로, 익숙해져야 함

### 2. 재귀 용법 이해
- 예제를 풀어보며, 재귀 용법을 이해해 보기

### 예제
- 팩토리얼을 구하는 알고리즘 Recusive Call을 활용해서 알고리즘 작성하기

### 예제 - 분석하기
- 간단한 경우부터 생각해보기
  - 2! = 1 x 2
  - 3! = 1 x 2 x 3
  - 4! = 1 x 2 x 3 x 4 = 4 x 3!
- 규칙이 보임: n! = n x (n - 1)!
  1. 함수를 하나 만든다
  2. 함수(n)은 n > 1이면 return n x 함수(n - 1)
  3. 함수(n)은 n = 1이면 return n
- 검증 (코드로 검증하지 않고, 직접 간단한 경우부터 대입해서 검증해야 함)
  1. 먼저 2! 부터
    - 함수(2) 이면, 2 > 1 이므로 2 x 함수(1)
      - 함수(1)은 1 이므로, return 2 x 1 = 2 맞다!
  2. 먼저 3! 부터
    - 함수(3) 이면, 3 > 1 이므로 3 x 함수(2)
      - 함수(2)은 결국 1번에 의해 2! 이므로, return 2 x 1 = 2
      - 3 x 함수(2) = 3 x 2 = 3 x 2 x 1 = 6 맞다!
  3. 먼저 4! 부터
    - 함수(4) 이면, 4 > 1 이므로 4 x 함수(3)
      - 함수(3)은 결국 2번에 의해 3! 이므로, return 3 x 2 x 1 = 6
      - 4 x 함수(3) = 4 x 6 = 4 x 3 x 2 x 1 = 24 맞다!

### 예제 - 코드 레벨로 적어보기

In [1]:
def factorial(num):
    if num > 1:
        return num * factorial(num - 1)
    else:
        return num

In [2]:
for num in range(10):
    print (factorial(num))

0
1
2
6
24
120
720
5040
40320
362880

### 예제 - 시간 복잡도와 공간 복잡도
- factorial(n)은 n - 1번의 factorial() 함수를 호출해서, 곱셈을 함
  - 일종의 n - 1번 반복문을 호출한 것과 동일
  - factorial() 함수를 호출할 때 마다, 지역변수 n이 생성됨
- 시간 복잡도/공간 복잡도는 $O(n-1)$ 이므로 결국, 둘다 $O(n)$

### 3. 재귀 호출의 일반적인 형태

In [ ]:
# 일반적인 형태 1
def function(입력):
    if 입력 <= 일정값: # 입력이 일정 값 이상이면
        return function(입력 - 1) # 입력보다 작은 값
    else:
        return 일정값, 입력값, 또는 특정값 # 재귀 호출 종료

In [ ]:
# 일반적인 형태 2
def function(입력):
    if 입력 <= 일정값: # 입력이 일정 값보다 작으면
        return 일정값, 입력값 또는 특정값 #재귀 호출
    function(입력 보다 작은 값)
    return 결과값

In [3]:
def factorial(num):
    if num <= 1:
        return num
    return num * factorial(num - 1)

In [4]:
for num in range(10):
    print (factorial(num))

0
1
2
6
24
120
720
5040
40320
362880

### 재휘 호출은 스택의 전형적인 예
- 함수는 내부적으로 스택처럼 관리된다.

<img src="https://www.fun-coding.org/00_Images/recursivecall.png" />

- 재귀 호출이 이해가 가지 않는다면? -  [코드분석]( http://pythontutor.com/live.html#code=%23%20factorial%20%ED%95%A8%EC%88%98%20%EC%95%88%EC%97%90%EC%84%9C%20factorial%20%ED%95%A8%EC%88%98%EB%A5%BC%20%ED%98%B8%EC%B6%9C%0Adef%20factorial%28num%29%3A%0A%20%20%20%20if%20num%20%3E%201%3A%0A%20%20%20%20%20%20%20%20return%20num%20*%20factorial%28num%20-%201%29%0A%20%20%20%20else%3A%0A%20%20%20%20%20%20%20%20return%20num%0A%0Afactorial%285%29&cumulative=false&curInstr=22&heapPrimitives=false&mode=display&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)

> 참고: 파이썬에서 재귀 함수는 깊이가 (한번에 호출되는...) 1,000회 이하가 되어야 함

### 4. 재귀 용법을 활용한 프로그래밍 연습

<div class="alert alert-block alert-warning">
  <strong><font color="blue" size="5em">프로그래밍 연습</font></strong><br><br>
    
  다음 함수를 재귀 함수를 활용해서 완성해서 1부터 num까지의 곱이 출력되게 만드세요
</div>
<pre>
def muliple(data):
    if data <= 1:
        return data
return --------------------
multiple(10)
</pre>

#### 나의 풀이

In [15]:
def mulitple(data):
    if data <= 1:
        return data
    return data * mulitple(data - 1)

In [16]:
mulitple(10)

3628800

#### 풀이

In [32]:
def multiple(num):
    return_value = 1
    for index in range(1 , num + 1):
        return_value = return_value * index
    return return_value

In [33]:
def mulitple(num):
    if num <= 1:
        return num
    return num * mulitple(num - 1)

In [34]:
mulitple(10)

3628800

<div class="alert alert-block alert-warning">
  <strong><font color="blue" size="5em">프로그래밍 연습</font></strong><br><br>
    
  숫자가 들어 있는 리스트가 주어졌을 때, 리스트의 합을 리턴하는 함수를 만드세요
</div>
<pre>
import random
data = random.sample(range(100), 10)
</pre>

#### 나의 풀이

In [35]:
import random
data = random.sample(range(100), 10)
data

[19, 70, 57, 17, 60, 41, 15, 83, 33, 86]

In [36]:
def list_plus(data):
    return_value = 0
    for index in data:
        return_value += index
    return return_value

In [37]:
list_plus(data)

481

<div class="alert alert-block alert-warning">
  <strong><font color="blue" size="5em">프로그래밍 연습</font></strong><br><br>
    
  숫자가 들어 있는 리스트가 주어졌을 때, 리스트의 합을 리턴하는 함수를 만드세요(재귀 함수를 써보세요)
</div>
<pre>
def sum_list(data):
    if len(data) == 1:
        return data[0]
return --------------------
import random
data = random.sample(range(100), 10)
print(sum_list(data))
</pre>

#### 나의 풀이

In [27]:
def sum_list(data):
    data_len = len(data)
    if data_len == 1:
        return data[0]
    return data[data_len - 1] + sum_list(data[:-1])

In [29]:
import random

data = random.sample(range(100), 10)
data

[68, 74, 46, 41, 5, 17, 55, 25, 70, 95]

In [30]:
print(sum_list(data))

496

#### 풀이

In [43]:
def sum_list(data):
    if len(data) <= 1:
        return data[0]
    return data[0] + sum_list(data[1:])

In [44]:
import random

data = random.sample(range(100), 10)
data

[82, 47, 24, 20, 90, 52, 35, 11, 41, 81]

In [45]:
print(sum_list(data))

483

<div class="alert alert-block alert-warning">
  <strong><font color="blue" size="5em">프로그래밍 연습</font></strong><br><br>
    
  회문(palindrome)은 순서를 거꾸로 읽어도 재대로 읽은 것과 같은 단어와 문장을 의미함<br>
  회문을 판별할 수 있는 함수를 리스트 슬라이싱을 활용해서 만드세요<br><br>
    
  <img src="https://www.fun-coding.org/00_Images/palindrome.png" width=200/>
</div>
<pre>
참고 - 리스트 슬라이싱
string = "Dave"
string[-1] --> e
string[0] -> D
string[1:-1] -> av
string[:-1] -> Dav 
</pre>

#### 나의 풀이

In [47]:
# 문제를 잘못 이해함
# 문자열 순서를 바꿔주는 함수가 되버림
def revserse(data):
    for index in range(int(len(data) / 2) - 1):
        data[index], data[len(data) - 1 - index] = data[len(data) - 1 - index], data[index]
    return data

In [55]:
string1 = "MOTOR"
string2 = "Dave"
string3 = "Daveda"

In [56]:
print(revserse(list(string1)))
print(revserse(list(string2)))
print(revserse(list(string3)))

['R', 'O', 'T', 'O', 'M']
['e', 'a', 'v', 'D']
['a', 'd', 'v', 'e', 'a', 'D']

In [81]:
# 재귀 함수
def revserse(data):
    if len(data) <= 1:
        return data
    else:
        data[0], data[-1] = data[-1], data[0]
        data[1:-1] = revserse(data[1:-1])
    return data

In [82]:
string1 = "MOTOR"
string2 = "Dave"
string3 = "Daveda"

In [83]:
print(revserse(list(string1)))
print(revserse(list(string2)))
print(revserse(list(string3)))

['R', 'O', 'T', 'O', 'M']
['e', 'v', 'a', 'D']
['a', 'd', 'e', 'v', 'a', 'D']

#### 풀이

In [84]:
def palindrome(string):
    if len(string) <= 1:
        return True
    
    if string[0] == string[-1]:
        return palindrome(string[1:-1])
    else:
        return False

In [87]:
print(palindrome("DAVAD"))
print(palindrome("DAVE"))
print(palindrome("OVO"))
print(palindrome("AA"))

True
False
True
True

<div class="alert alert-block alert-warning">
  <strong><font color="blue" size="5em">프로그래밍 연습</font></strong><br><br>
    
  1. 정수 n에 대해<br>
  2. n이 홀수이면 3 X n + 1 을 하고,<br>
  3. n이 짝수이면 n 을 2로 나눕니다.<br>
  4. 이렇게 계속 진행해서 n 이 결국 1이 될 때까지 2와 3의 과정을 반복합니다.<br>
</div>
<pre>
예를 들어 n에 3을 넣으면,
3
10
5
16
8
4
2
1
이 됩니다.
이렇게 정수 n을 입력받아, 위 알고리즘에 의해 1이 되는 과정을 모두 출력하는 함수를 작성하세요.
</pre>

#### 나의 풀이

In [123]:
def function(num):
    print(num)
    if num == 1:
        return num
    elif num % 2 == 0:
        num = num / 2
        return function(num)
    else:
        num = num * 3 + 1
        return function(num)

In [124]:
function(3)

3
10
5.0
16.0
8.0
4.0
2.0
1.0

1.0

In [125]:
function(5)

5
16
8.0
4.0
2.0
1.0

1.0

#### 풀이

In [108]:
def func(n):
    print(n)
    if n == 1:
        return n
    
    if n % 2 == 1:
        return (func((3 * n) + 1))
    else:
        return (func(n / 2))

In [109]:
func(3)

3
10
5.0
16.0
8.0
4.0
2.0
1.0

1.0

In [110]:
func(5)

5
16
8.0
4.0
2.0
1.0

1.0

<div class="alert alert-block alert-warning">
  <strong><font color="blue" size="5em">프로그래밍 연습</font></strong><br><br>
    
문제: 정수 4를 1, 2, 3의 조합으로 나타내는 방법은 다음과 같이 총 7가지가 있음<br>
1+1+1+1<br>
1+1+2<br>
1+2+1<br>
2+1+1<br>
2+2<br>
1+3<br>
3+1<br>
정수 n이 입력으로 주어졌을 때, n을 1, 2, 3의 합으로 나타낼 수 있는 방법의 수를 구하시오
</div>
<pre>
힌트: 정수 n을 만들 수 있는 경우의 수를 리턴하는 함수를 f(n) 이라고 하면,
f(n)은 f(n-1) + f(n-2) + f(n-3) 과 동일하다는 패턴 찾기
출처: ACM-ICPC > Regionals > Asia > Korea > Asia Regional - Taejon 2001 
</pre>

#### 나의 풀이

In [177]:
def function(num):
    if num == 1:
        return 1
    elif num == 2:
        return 2
    elif num == 3:
        return 4
    else:
        return function(num - 1) + function(num - 2) + function(num - 3)

In [178]:
print(function(1))
print(function(2))
print(function(3))
print(function(4))
print(function(5))
print(function(6))
print(function(7))
print(function(8))

1
2
4
7
13
24
44
81

#### 풀이

In [181]:
def func(data):
    if data == 1:
        return 1
    elif data == 2:
        return 2
    elif data == 3:
        return 4
    
    return func(data-1) + func(data-2) + func(data-3)

In [182]:
func(6)

24